
#cover{
    height: inherit;
    justify-content: stretch;
    padding-bottom: 4rem;
}

.cover-pic-container {
    display: flex;
    height: 80vh;
    width: inherit;
    position: relative;
    justify-content: center;
    padding-bottom: 4rem;
}

.cover-text {
    top: 16rem;
    position: absolute;
    justify-content: center;
}

.cover-text-p1 {
    color: white;
    font-size: 5rem;
    font-weight: 500;
    visibility: visible;
}

.invite-text-p1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 4rem;
    font-weight: 400;
}

.invite-text-p2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 3rem;
    font-weight: 400;
}

.invite-text-p3{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 4rem;
    font-weight: 400;
}

.invite-text-p4{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 200;
    padding: 3rem 0rem;
}

@media screen and (max-width: 1200px) {
    #cover {
        padding-bottom: 2.5rem;
    }

    .cover-pic-container
    {
        height: 19rem;
        overflow-x: hidden;
        padding-bottom: 2.5rem;
    }

    .cover-text{
        top: 8rem;
    }

    .cover-text-p1 {
        height: 0rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        padding: 0rem;
    }

    .invite-text-p1 {
        font-size: 2rem;
        font-weight: 300;
    }

    .invite-text-p2 {
        font-size: 1rem;
        font-weight: 300;
    }

    .invite-text-p3 {
        font-size: 2rem;
        font-weight: 300;
    }

    .invite-text-p4 {
        padding: 2rem 0rem;
        font-size: 1.2rem;
        font-weight: 300;
    }
}