
#cover{
    height: inherit;
    justify-content: stretch;
    padding-bottom: 4rem;
}

.cover-pic-container {
    display: flex;
    height: 80vh;
    width: inherit;
    position: relative;
    justify-content: center;
    padding-bottom: 4rem;
}

.cover-text {
    top: 16rem;
    position: absolute;
    justify-content: center;
}

.cover-text-p1 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    visibility: visible;
}

.cover-text-p2 {
    height: 0rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 200;
    visibility: hidden;
}

.invite-text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 200;
}

@media screen and (max-width: 1200px) {
    #cover {
        padding-bottom: 2.5rem;
    }
    .cover-pic-container
    {
        height: 19rem;
        overflow-x: hidden;
        padding-bottom: 2.5rem;
    }
    .cover-text{
        top: 8rem;
    }
    .cover-text-p1 {
        height: 0rem;
        visibility: hidden;
    }
    .cover-text-p2 {
        height: inherit;
        visibility: visible;
        padding-left: 1.2rem;
    }
    .invite-text {
        padding: 0rem 1rem;
        font-size: 1.4rem;
        font-weight: 300;
    }
}