#rsvp-section {
    height: inherit;
    justify-content: stretch;
    padding-bottom: 4rem;
}

.rsvp-pic-container {
    display: flex;
    height: 80vh;
    width: inherit;
    position: relative;
    justify-content: center;
    padding-bottom: 4rem;
}

.rsvp-text {
    top: 16rem;
    position: absolute;
    justify-content: center;
}

.rsvp-text-p1 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
}

.rsvp-info {
    display: flex;
    height: inherit;
    width: inherit;
    gap: 10rem;
    justify-content: center;
}

.rsvp-title-text {
    display: flex;
    color: rgb(59, 49, 22);
    font-size: 3rem;
    font-weight: 100;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2.5rem;

    .link-text {
        font-size: 2rem;
        font-weight: 400;
    }

    .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
    }
}

.rsvp-link-container {
    display: flex;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.rsvp-form {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

input.rsvp-form-field-1, .rsvp-form-field-1:focus, .rsvp-form-field-1:valid{
    color: rgb(59, 49, 22);
    font-family: 'Cormorant Infant', serif;
    width: 25rem;
    height: 2rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: rgb(59, 49, 22);
    border-bottom-width: .1rem;
    background: none;
    outline: none;
}

@media screen and (max-width: 1200px) {
    #rsvp-section {
        margin: 0rem;
    }

    .rsvp-pic-container  {
        height: 19rem;
        overflow-x: hidden;
        padding-bottom: 2.5rem;
    }

    .rsvp-text {
        top: 8rem;
        width: max-content;
    }

    .rsvp-text-p1 {
        font-size: 2.5rem;
    }

    .rsvp-title-text {
        font-size: 1.5rem;
    }
}