
#travel-section {
    justify-content: stretch;
    height: inherit;
    padding-top: 400px;
    padding-left: 100px;
    padding-right: 100px;
}

.travel-pic-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: inherit;
    position: relative;
}

.travel-text {
    justify-content: center;
    position: absolute;
    top: 16rem;
}

.travel-text-p1 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.places-to-stay-title {
    display: flex;
    padding-bottom: 2rem;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    justify-content: center;
}

.travel-info {
    gap: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    height: inherit;
    width: inherit;
    padding-top: 2rem;
}

.hotel-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(59, 49, 22);
    padding-bottom: 1rem;
}

.hotel-title-text-p {
    font-size: 1.5rem;
    font-weight: 100;
    width: 20rem;
    text-align: center;
    color: rgb(59, 49, 22);
    padding-bottom: .5rem;
    padding-top: 1rem;
}

.hotel-link {
    font-size: 1rem;
    color: rgb(59, 49, 22);
    font-weight: 300;
    padding-bottom: .5rem;
}

.hotel-images {
    height: 300px;
}

.linked-address {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
}

.link-text {
    font-size: 1rem;
    color: rgb(59, 49, 22);
    font-weight: 100;
}

@media screen and (max-width: 1200px) {
    #travel-section {
        padding: 0rem 0rem 10rem 0rem;
        margin: 0 0 0 0;
    }

    .travel-info {
        grid-template-columns: auto;
        padding: 0 0 0 0;
    }

    .travel-pic-container {
        height: 300px;
        padding-bottom: 5rem;
        overflow-x: hidden;
    }

    .travel-text {
        top: 8rem;
        width: max-content;
    }

    .hotel-images {
        overflow-x: hidden;
        height: 200px;
    }
}