#wedding-section {
    height: inherit;
    justify-content: stretch;
    padding-bottom: 4rem;
}

.wedding-pic-container {
    display: flex;
    height: 80vh;
    width: inherit;
    position: relative;
    justify-content: center;
    padding-bottom: 4rem;
}

.wedding-text {
    top: 16rem;
    position: absolute;
    justify-content: center;
}

.wedding-text-p1 {
    color: white;
    font-size: 5rem;
    font-weight: 200;
}

.wedding-info {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    gap: 4rem;
    justify-content: center;
}

.wedding-info-div{
    width: 40rem;
}

.wedding-info-title-text {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.wedding-info-sub-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .reception-section{
        display: flex;
        gap: 4rem;
        align-items: center;
    }
}

.image-stack{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 8rem;
    .top-image{
        height: 27rem;
    }
    .bottom-image{
        height: 27rem;
    }
}

.wedding-info-sub-title-text {
    color: rgb(59, 49, 22);
    font-size: 2.5rem;
    font-weight: 500;
}

.wedding-info-sub-title-text-p2 {
    color: rgb(59, 49, 22);
    font-size: 2rem;
    padding-top: 1rem;
    width: 40rem;
}

.wedding-info-sub-title-text-p3 {
    color: rgb(59, 49, 22);
    font-size: 1.5rem;
    padding-top: 1rem;
    width: 40rem;
}

.wedding-images {
    height: 22.5rem;
    width: 31.25rem;
    background-size: cover;
}

.attire-images {
    width: 17.5rem;
    height: 26.25rem;
    background-size: cover;
}

.rhubarb-address{
    display: flex;
}

.reception-rhubarb-text {
    display: flex;
    color: rgb(59, 49, 22);
    font-size: 1.5rem;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    padding-bottom: .3rem;
}

.rhubarb-address-text {
    color: rgb(59, 49, 22);
    font-size: 1.5rem;
    font-weight: 100;
}

.garden-party-text {
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 100;
}

.link-text {
    padding-right: .3rem;
}

.idea-board-container{
    display: flex;
    color: rgb(59, 49, 22);
    font-size: 1rem;
    font-weight: 100;
    align-items: center;
}

.color-scheme-spring-neutral-text {
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: .9rem;
}

.color-circle-section {
    display: flex;
    gap: .5rem;
}

.circle-1 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(190, 125, 119);
}

.circle-2 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(208, 169, 110);
}

.circle-3 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(118, 117, 86);
}

.circle-4 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(181, 158, 124);
}

.circle-5 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(201, 187, 208, 1);
}

.circle-6 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(136, 112, 84);
}

.circle-7 {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(182, 132, 69);
}

@media screen and (max-width: 1200px) {
    #wedding-section {
        padding-bottom: 4rem;
        margin: 0rem;
    }
    
    .wedding-pic-container
    {
        height: 19rem;
        overflow-x: hidden;
        padding-bottom: 2.5rem;
    }
    
    .wedding-text{
        top: 8rem;
        width: max-content;
    }
    
    .wedding-info{
        gap: 2.5rem;
        flex-direction: column;
    }

    .wedding-images{
        flex-direction: column;
        height: 12.5rem;
        width: 18.75rem;
        background-size: cover;
        overflow-x: hidden;
    }
    
    .wedding-text-p1 {
        font-size: 2.5rem;
    }
    
    .wedding-info-sub-title-text {
        font-size: 2rem;
    }

    .rhubarb-address-text{
        font-size: 1.5rem;
        font-weight: 100;
    }

    .wedding-info-title-text{
        flex-direction: column-reverse;
        align-items: center;
        .wedding-info-sub-section{
            display: flex;
            flex-direction: column;
            width: 23rem;
            align-items: center;
            .recetpion-section{
                flex-direction: column;
            }
        }
    }

    .wedding-info-sub-title-text-p2 {
        width: 20rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    
    .wedding-info-sub-title-text-p3 {
        width: 20rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .rhubarb-address{
        display: flex;
        flex-direction: column;
    }

    .garden-party-text {
        font-size: 1.5rem;
    }

    .color-scheme-spring-neutral-text{
        font-size: 1.5rem;
    }

    .image-stack{
        padding-left: 0;
        gap: 1rem;
        .top-image {
            height: 18rem;
        }
    
        .bottom-image {
            height: 18rem;
        }
    }

    .wedding-info-sub-section{
        .reception-section{
            flex-direction: column;
            gap: 2rem;
            .reception-sub-section{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}