@media screen and (max-width: 1400px) {
    #cover {
        height: 83vh;
    }
}

@media screen and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        height: 5rem;    
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .menu-links.open{
        z-index: 1;
        margin-top: 2.37rem;
        width: 44vh;
        opacity: 95%;
        background-color: mistyrose;
    }
    .logo {
        font-size: 1.6rem;
    }

    /* Cover */
    #cover {
        display: block;
        margin-bottom: 0rem;
        height: 18.75rem;
    }
    section {
        height: fit-content;
        margin: 0 5%;
    }
    .cover-pic-container
    {
        height: 300px;
        margin: 0 auto 1rem;
        overflow-x: hidden;
    }
    .cover-text{
        top: 8rem;
        width: max-content;
    }
    .cover-text-p1 {
        font-size: 1rem;
    }
    .cover-text-2{
        padding: .5rem 1rem .5rem 1rem;
        font-size: 1.4rem;
        font-weight: 300;
    }
    .invite-text{
        padding-top: 2rem;
    }

    /* Our Story */
    #our-story-section{
        padding: .7rem;
    }
    .our-story-title{
        padding-top: 0px;
    }
    .our-story-pic-container
    {
        height: 325px;
        margin: 2rem auto 2rem;
        overflow-x: hidden;
    }
    .our-story-side-image{
        visibility: hidden;
    }
    .our-story-middle-image{
        height: 325px;
    }
    .our-story-text-4{
        padding-bottom: 1rem;
    }

    /* Wedding */
    #wedding-section {
        padding-top: 0px;
        margin: 0px;
    }
    .wedding-pic-container
    {
        height: 300px;
        padding-bottom: 0px;
        overflow-x: hidden;
    }
    .wedding-text{
        top: 8rem;
        width: max-content;
    }
    .wedding-info{
        gap: 4rem;
        flex-direction: column;
        padding-bottom: 5rem;
    }
}