/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(229, 221, 208);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Transition */

a, 
.btn {
    transition: all 300ms ease;
}

/* Navigation */

nav, 
.nav-links {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: rgb(59, 49, 22);
    text-decoration: none;
    text-decoration-color: white;
}
 
#rsvp {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid rgb(59, 49, 22);
}

a:hover {
    color: rgb(150, 165, 102);
    text-underline-offset: 1rem;
    text-decoration-color: rgb(138, 131, 63);
}

.logo {
    font-size: 2.5rem;
    color: rgb(59, 49, 22);
}

.logo:hover {
    cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(59, 49, 22);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(59, 49, 22);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Cover */

#cover{
    justify-content: stretch;
    height: 80vh;
    padding-bottom: 100px;
}

.cover__pic-container {
    display: flex;
    justify-content: center;
    height: inherit;
    width: inherit;
    position: relative;
}

.cover__text {
    justify-content: center;
    position: absolute;
    top: 16rem;
}

.cover__text__p1 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.cover__text__2 {
    padding: 95px;
    justify-content: center;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

/* Sections */

section {
    height: 70vh;
}

/* Our Story Section */

#our-story {
    padding: 150px;
}

.our-story__pic-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: inherit;
    width: inherit;
}

.our-story__title {
    display: flex;
    padding-top: 50px;
    color: rgb(59, 49, 22);
    font-size: 2rem;
    justify-content: center;
}

.our-story__text__4 {
    padding-bottom: 100px;
}

.our-story__text__p4 {
    padding: 15px;
    color: rgb(59, 49, 22);
    font-size: 1rem;
    font-weight: 200;
    word-spacing: 3px;
    line-height: 1.8;
}

/* Wedding Section */

#wedding {
    justify-content: stretch;
    height: 80vh;
    padding-top: 375px;
}

.wedding__pic-container {
    display: flex;
    justify-content: center;
    height: inherit;
    width: inherit;
    position: relative;
    padding-bottom: 80px;
}

.wedding__text {
    justify-content: center;
    position: absolute;
    top: 16rem;
}

.wedding__text__p1 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

.wedding-info {
    gap: 10rem;
    display: flex;
    justify-content: center;
    height: inherit;
    width: inherit;
}

.reception {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reception-text {
    font-size: 2rem;
    color: rgb(59, 49, 22);
}

.reception-rhubarb-text {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(59, 49, 22);
    padding-bottom: 5px;
}

.rhubarb-address-text {
    font-size: 1rem;
    color: rgb(59, 49, 22);
}

.reception-rhubarb-address-1-text {
    font-size: 1rem;
    font-weight: 100;
}

.reception-rhubarb-address-2-text {
    font-size: 1rem;
    font-weight: 100;
}

.dress-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dress-code-text {
    font-size: 2rem;
    color: rgb(59, 49, 22);
}

.cocktail-party-text {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(59, 49, 22);
}

.color-scheme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-scheme-text {
    font-size: 2rem;
    color: rgb(59, 49, 22);
}

.color-scheme-spring-neutral-text {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(59, 49, 22);
}